BLOCKFROST_URL="https://cardano-testnet.blockfrost.io/api/v0"
BLOCKFROST_API_KEY="abc"
BLOCKFROST_NETWORK="Testnet"

DATABASE_URL="postgres://xyz:123@ec2-oiw.compute.amazonaws.com:5432/dfd"
SHADOW_DATABASE_URL="postgres://xyz:ddd@ec2.compute-1.amazonaws.com:5432/dre"

PORT=8080